<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon", href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    
    <body>
       <div class="main-content">
       {{>header}}
      <p><strong>Name:</strong> Surendra Singh Gangwar</p>
      <p><strong>Email:</strong> surendra100598@gmail.com</p>
      <p><strong>Phone:</strong> 9756066966</p>
       </div>
        {{>footer}}
    </body>
</html>
